---
import BaseLayout from '../layouts/BaseLayout.astro';
import Provider from '../components/Provider';
import Hello from '../components/Hello';
---

<BaseLayout title="TourGenie">
	<Provider client:only="react">
		<h1 class="min-w-20 mx-auto text-blue-500">Astro</h1>
		<Hello />
	</Provider>
</BaseLayout>
